body {
    background-color: lightblue;
}

p.flashy {
        color: red;
        width: 50%;
        font-style: italic;
      }

p.best {
      color: blue;
      width: 100;
      font-style: oblique;
}
